.write-button {
  color: black;
}

.board-category {
  display: flex;
  .category-tit {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .category-content {
    border: 1px solid black;
    font-size: 2rem;
    width: 30%;
    text-align: center;
  }
  .category-author {
    width: 10%;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
  }
  .category-date {
    width: 10%;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
  }
}

.board-item {
  display: flex;

  .board-tit {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
  }
  .board-content {
    border: 1px solid black;
    font-size: 2rem;
    width: 30%;
    text-align: center;
  }
  .board-author {
    width: 10%;
    border: 1px solid black;
    text-align: center;
  }
  .board-date {
    width: 10%;
    border: 1px solid black;
    text-align: center;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.pagination button {
  border: none;
  background-color: #23af17;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 0.5rem;
  color: white;
}

.pagination button.active {
  font-weight: bold;
  color: black;
}
