.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0;
  margin: 0;
}

.footer-item {
  list-style: none;
  margin-left: 3vw;
  color: rgb(172, 167, 167);
}

.footer-item:nth-child(7) {
  color: black;
  font-weight: bold;
}
