.Id-Modal {
  .modal-wrapper {
    top: 30%;
    left: 30%;
    position: fixed;
    width: 40vw;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      width: 30vw;
      height: 3vh;
      font-size: 1.2rem;
    }
    button {
      margin-top: 1vh;
      width: 30vw;
      height: 3vh;
      border-radius: 1rem;
      background-color: #23af17;
      color: white;
      font-weight: bold;
    }
    .close-button {
      background-color: gray;
      color: black;
      font-weight: bold;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper form {
    display: flex;
    flex-direction: column;
  }
}

.Pw-Modal {
  .modal-wrapper {
    top: 30%;
    left: 30%;
    position: fixed;
    width: 40vw;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      width: 30vw;
      height: 3vh;
      font-size: 1.2rem;
    }
    button {
      margin-top: 1vh;
      width: 30vw;
      height: 3vh;
      border-radius: 1rem;
      background-color: #23af17;
      color: white;
      font-weight: bold;
    }
    .close-button {
      background-color: gray;
      color: black;
      font-weight: bold;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper form {
    display: flex;
    flex-direction: column;
  }
}
