.mypage {
  height: 80vh;
  display: flex;
}

.u-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 25vw;
  height: 55vh;
  margin: 5vw;
}

.squad-wrapper {
  width: 40vw;
  margin-left: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  select {
    width: 50rem;
    height: 2rem;
    text-align: center;
  }
  .squad-info {
    display: flex;
    flex-direction: column;
  }
}

.squad-image {
  position: relative;
  width: 500px;
  height: 300px;
}

.squad-image img {
  max-width: 100%;
  height: auto;
}

.uniform {
  position: absolute;
  width: 50px;
  height: 50px;
}

.uniform-info {
  position: absolute;
  font-size: 12px;
  color: white;
}

.button-container {
  margin-top: 420px;
  text-align: center;
}
